<% provide(:og_title, @tweet.title) %>
<div class="fb-share-button" data-href="https://prosupporting.herokuapp.com" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fprosupporting.herokuapp.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></div>

